<div class="fdb-block fdb-block-hasbackground">
    <div class="container pb-0 py-5 my-5 bg-r" style="background: url('/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_froala/widgets/63/4.svg')">
        <div class="row justify-content-end">
            <div class="col-12 col-md-8 col-lg-6 text-center">
                <div class="fdb-box br-0">
                    <h2>Title</h2>
                    <p class="text-h3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p class="mt-4"><a class="btn btn-primary" href="#">Read More</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
