<div class="v-chiffre">
	<div class="row">
		<div class="col-sm-6 col-md-3 pb-3 pb-md-0">
			<div class="v-chiffre__wrapper">
				<h3 class="v-chiffre__heading">01.</h3>
				<h4 class="v-chiffre__title">Quality</h4>
				<p class="v-chiffre__description">Nullam arcu felis, tristique eget malesuada sed, viverra at sapien. Maecenas gravida lacus nec dolor suscipit faucibus.</p>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 pb-3 pb-md-0">
			<div class="v-chiffre__wrapper">
				<h3 class="v-chiffre__heading">02.</h3>
				<h4 class="v-chiffre__title">Integrity</h4>
				<p class="v-chiffre__description">Tristique eget malesuada sed arcu felis, viverra viverra at sapien at sapien. Maecenas gravida lacus nec dolor suscipit faucibus.</p>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 pb-3 pb-md-0">
			<div class="v-chiffre__wrapper">
				<h3 class="v-chiffre__heading">03.</h3>
				<h4 class="v-chiffre__title">Innovations</h4>
				<p class="v-chiffre__description">Nunc ut – for dictum purus lorem vel ante ac purus sollicitudin dictum ipsum eget ex convallis from dolor.</p>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 pb-3 pb-md-0">
			<div class="v-chiffre__wrapper">
				<h3 class="v-chiffre__heading">04.</h3>
				<h4 class="v-chiffre__title">Safety</h4>
				<p class="v-chiffre__description">Lorem ipsum dolor, tristique eget malesuada sed, viverra at sapien. Maecenas gravida lacus nec dolor suscipit dlavrida.</p>
			</div>
		</div>
	</div>
</div>
