<div class="container">
  <div class="d-md-flex justify-content-between w-100">
    <div class="filter-thematic pb-2 w-50">
      {{ thematic }}
    </div>
    <div class="filter-media-type pb-2">
      {{ media_type }}
    </div>
  </div>
</div>
