{% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/50/50.jpg" %}
<div class="fdb-block">
    <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
            <img alt="Image Alt"
                class="lazyload fdb-icon mb-4"
                src="{{ content.image_placeholder }}"
                data-src="{{ placehold }}">
            <div class="text-h3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
            </div>
        </div>
    </div>
</div>
