<div class="fdb-block fdb-block-hasbackground">
    <div class="col-fill-left" style="background-image: url('/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_froala/widgets/21/5.jpg')">
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-md-5 text-center ">
                <h2>Title</h2>
                <p class="text-h3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum
                    has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley
                    of type and scrambled it to make a type specimen book.</p>
                <p class="mt-4">
                    <a class="btn btn-primary" href="#">Read More</a>
                </p>
            </div>
        </div>
    </div>
</div>
