<div class="vh-footer--amp">
  <div class="vh-footer-amp--menu">
    {{ vactory_render('block', 'system_menu_block:footer') }}
  </div>
  <div class="block-footer-copyright-conception text-center">
    <p>{{ "©2019 Groupe Crédit Agricole du Maroc" | t }}</p>
    <p>
      {{ "Conception et développement" | t }}
      <a href="//www.void.fr" target="_blank">
        <img alt="Void logo" src="{{ base_path ~ directory ~ '/assets/img/void-logo-footer.png' }}">
      </a>
    </p>
  </div>
</div>


