
<footer class="vf-footer vf-footer--variant1">
    <div class="container">
      <div class="vf-footer-items py-4">
        <div class="vf-footer__top">
          <div class="block_content block-footer-logo">
            {{ vactory_render('block', 'system_branding_block', {use_site_name: false}) }}
          </div>
        </div>
        <div class="vf-footer__middle">
          <div class="block-footer-menu-separate sm-menu-block-center">
            <div class="block_content">
                {{ vactory_render('block', 'system_menu_block:footer') }}
            </div>
          </div>
        </div>
        <div class="vf-footer__bottom">
          <div class="block-social-media">
            {{ vactory_render('block', 'socialmedialinks') }}
          </div>  
          <div class="block_content block-footer-realisation_void">
              <div class="field__item">
                <p>{{ "Design and development by VOID Agency" | t }}</p>
                <p><img alt="Void logo" src="//place-hold.it/52x14"></p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  