<footer class="vf-footer vf-footer--variant8">
    <div class="vf-footer-items text-center">
        <div class="vf-footer__top py-2">
            <div class='container'>
                <div class='block-footer-menu'>
                    {{ vactory_render('block', 'system_menu_block:footer') }}
                </div>
            </div>
        </div>
        <div class="vf-footer__middle">
            <div class="container">
                <div class='mb-3'>
                    {{ vactory_render('block', 'block-footer-text') }}
                </div>
                <div class="block-social-media">
                    {{ vactory_render('block', 'socialmedialinks') }}
                </div> 
            </div>
        </div>
        <div class="vf-footer__bottom py-2">
            <div class="container">
                <div class="block-footer-copyright">
                    <p>{{ "Vactory 2017 © All rights reserved" | t }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
