{{ attach_library('vactory_dynamic_field/pop_in') }}

<div class="modal fade" id="v8-modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {#<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>#}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ content.0.description.value|raw }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ content.0.cta_text }}</button>
      </div>
    </div>
  </div>
</div>
