<div class="fdb-block">
        <div class="row text-center">
            <div class="col-12">
                <h2>Title</h2>
            </div>
        </div>
    <div class="row text-center justify-content-center mt-5">

        {% for item in 0..3 %}

            {% if loop.index >= 2 %}
                <div class="col-12 col-sm-6 col-lg-3 pt-4 pt-sm-0">
            {% else %}
                <div class="col-12 col-sm-6 col-lg-3">
            {% endif %}
                    {% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/60/60.jpg" %}
                    <img alt="Image Alt"
                        class="lazyload fdb-icon"
                        src="{{ content.image_placeholder }}"
                        data-src="{{ placehold }}">
                    <h3><strong>Item</strong></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </div>

        {% endfor %}

    </div>
</div>
