{{ attach_library('vactory_dynamic_field_unitegallery/unitegallery.tiles.columns.videos') }}
<div id="gallery--tiles-columns-videos" style="display:none;">

  <img alt="John Wick"
       data-type="youtube"  src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video1.jpg"
       data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video1.jpg"
       data-description="Jon Wick Trailer"
       data-videoid="l1g0fn5Nm_g" style="display:none">

  <img alt="Guardians of the Galaxy"
       data-type="youtube"  src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video2.jpg"
       data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video2.jpg"
       data-description="Guardians of the Galaxy Trailer"
       data-videoid="crIaEzXgqto" style="display:none">

  <img alt="Lucy"
       data-type="youtube"  src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video3.jpg"
       data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video3.jpg"
       data-description="Lucy trailer"
       data-videoid="MVt32qoyhi0" style="display:none">

  <img alt="The Winter Soldier"
       data-type="youtube"  src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video4.jpg"
       data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video4.jpg"
       data-description="The Winter Soldier Trailer"
       data-videoid="7SlILk2WMTI" style="display:none">

  <img alt="The Hunger Games"
       data-type="youtube"  src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video5.jpg"
       data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video5.jpg"
       data-description="The Hunger Games Trailer"
       data-videoid="3PkkHsuMrho" style="display:none">

  <img alt="Dracula Untold"
       data-type="youtube"  src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video6.jpg"
       data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video6.jpg"
       data-description="Dracula Untold Trailer"
       data-videoid="_2aWqecTTuE" style="display:none">

  <img alt="Maleficent"
       data-type="youtube"  src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video7.jpg"
       data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video7.jpg"
       data-description="Maleficent Trailer"
       data-videoid="w-XO4XiRop0" style="display:none">

  <img alt="300: Rise of an Empire"
       data-type="youtube"  src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video8.jpg"
       data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video8.jpg"
       data-description="300: Rise of an Empire Trailer"
       data-videoid="G3Rzy7YqUVU" style="display:none">

  <img alt="X-Men: Days of Future Past"
       data-type="youtube"  src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video9.jpg"
       data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video9.jpg"
       data-description="X-Men: Days of Future Past Trailer"
       data-videoid="gsjtg7m1MMM" style="display:none">

  <img alt="Edge of Tomorrow"
       data-type="youtube"  src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video10.jpg"
       data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video10.jpg"
       data-description="Edge of Tomorrow Trailer"
       data-videoid="vw61gCe2oqI" style="display:none">

  <img alt="Down of the planet apes"
       data-type="youtube"  src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video11.jpg"
       data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video11.jpg"
       data-description="Down of the planet apes trailer"
       data-videoid="v0wP5ZkaUGg" style="display:none">

  <img alt="Snowpiercer"
       data-type="youtube"  src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video12.jpg"
       data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/video12.jpg"
       data-description="Snowpiercer trailer"
       data-videoid="fyWfZ9866DE" style="display:none">
</div>
