<div class="fdb-block">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-4 text-center">
            {% if extra_fields.title is not empty %}
                <p class="text-h3">{{ extra_fields.title }}</p>
            {% endif %}
            <p class="text-h2">
                {% for item in content %}
                    {% set link_attributes = create_attribute() %}
                    {% set link_attributes = item.link.attributes.id is not empty ? link_attributes.setAttribute('id', item.link.attributes.id ) : link_attributes %}
                    {% set link_attributes = item.link.attributes.class is not empty ? link_attributes.setAttribute('class', item.link.attributes.class ~ ' mx-2') : link_attributes.setAttribute('class','mx-2') %}
                    {% set link_attributes = item.link.attributes.target is not empty ? link_attributes.setAttribute('target', item.link.attributes.target ) : link_attributes %}
                    {% set link_attributes = item.link.attributes.rel is not empty ? link_attributes.setAttribute('rel', item.link.attributes.rel ) : link_attributes %}

                    {% if item.link.url is not empty and item.link.title is not empty %}
                        <a  href="{{ item.link.url }}" {{ link_attributes }} > 
                            <i class="icon-{{ item.link.title }}"><!-- # --></i>
                        </a>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
</div>
