.reminder-interval-field .fieldset-wrapper {
    display: flex;
}
.reminder-interval-field .fieldset-wrapper .form-type-number {
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}
.reminder-interval-field .fieldset-wrapper .form-type-number label {
    position: absolute;
    top: 50%;
    transform: translate(100%, -50%);
    right: 0%;
}
html[dir="rtl"] .reminder-interval-field .fieldset-wrapper .form-type-number label {
    direction: rtl;
    right: unset;
    transform: translate(-100%, -50%);
}
.reminder-interval-field .fieldset-wrapper .form-type-number input {
    margin: 4px;
    width: 100px;
}
.reminder-interval-field .fieldset-wrapper .alarm {
    font-size: 20px;
    position: relative;
}
.reminder-interval-field .fieldset-wrapper .alarm span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
