  <div class="row">
    <div class="col-12">
      <div class="btn-see-more--wrapper text-center">
        <a class="btn-with-icon icon-arrow_forward"
           href="#">View More</a>
      </div>
    </div>
  </div>
