<div class="row t-block-push-small-positionned">
  {% for item in 0..1 %}
    {% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/1110/250.jpg" %}
    <div class="col-12 d-flex">
      <div
        class="vf-push vf-push-small-positionned lazyload"
        data-bg="{{ placehold }}"
        style="background-image:url('{{ content.image_placeholder }}')">
        <div class="vf-push-body">
          <div class="inner">
            <h4 class="h4">Titre</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s.
            </p>
            <a href="#" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
