<div class="fdb-block">
            {% if  extra_fields.title is not empty %}
            <div class="row">
              <div class="col-12 text-center">
                  <h2>{{ extra_fields.title }}</h2>
              </div>
            </div>
            {% endif %}
    <div class="row text-left justify-content-center pt-5">
        {% for item in content %}

            {% if loop.index == 3 %}

                </div><div class="row text-left justify-content-center pt-lg-4">

            {% endif %}

            {% if loop.index == 1 or loop.index == 3 %}
                <div class="col-12 col-md-6 col-lg-5 m-auto">
            {% else %}
                <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-md-0">
            {% endif %}
                {% if item.title is not empty %}
                    <h3><strong>{{ item.title }}</strong></h3>
                {% endif %}
                {% if item.description is not empty %}
                    <p class="text-h3">{{ item.description }}</p>
                {% endif %}
            </div>

        {% endfor %}

    </div>
</div>
