{% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/255/155.jpg" %}
<div class="fdb-block">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
            <img alt="Image Alt"
                class="img-fluid lazyload"
                src="{{ content.image_placeholder }}"
                data-src="{{ placehold }}">
        </div>
        <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
            <h2>Title</h2>
            <p class="text-h3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.</p>
            <p>

                <a class="btn btn-primary mt-4" href="#">Read More</a>
            </p>
        </div>
    </div>
</div>
