<div class="fdb-block ">
    <div class="row align-items-center d-flex flex-row-reverse">
        <div class="col-12 col-sm-9 text-left">
            <h2>Lorem Ipsum is simply dummy text </h2>

        </div>
        <div class="col-12 col-sm-3 text-left text-sm-center mt-4 mt-sm-0">
            <a class="btn btn-primary" href="#">Read More</a>
        </div>

    </div>
</div>