.df-accrodion-heading .ui-accordion-header-icon {
  display: none;
}

.df-accrodion-image {
  width: 200px; height: 200px;
  border: 2px solid #a2a2a2 !important;
}

.select-template-item {
  max-width: 400px;
  margin: 20px;
  border: 1px solid #eeeeee;
  padding: 10px
}

.select-template-wrapper.from-console-bo .select-template-item {
  max-width: unset !important;
  border: 1px solid #000000;
}

.select-template-wrapper .form-radios > .form-item{
  width: 33%;
}
.select-template-wrapper.from-console-bo .form-radios > .form-item{
  width: 100% !important;
}
.select-template-wrapper .form-radios {
  display: flex;
  flex-wrap: wrap;
}
.select-template-radio {
  display: none !important;
}
.select-template-radio:checked + label .select-template-item, .df-selected-template {
  border: 3px solid #058ff2;
  box-shadow: 0px 0px 10px 6px #c9eeff;
}
