name: 'Node Queue'
multiple: TRUE
category: 'Decoupled'
enabled: TRUE
fields:
  nodes:
    type: node_queue
    label: 'Node Queue'
    options:
      '#default_value':
          id: "vactory_news_list"
          resource: node--vactory_news
          filters:
            - fields[node--vactory_news]=drupal_internal__nid,path,title,field_vactory_news_theme,field_vactory_media,field_vactory_excerpt,field_vactory_date
            - fields[taxonomy_term--vactory_news_theme]=tid,name
            - fields[media--image]=name,thumbnail
            - fields[file--image]=filename,uri
            - include=field_vactory_news_theme,field_vactory_media,field_vactory_media.thumbnail
            - page[offset]=0
            - page[limit]=9
            - sort[sort-vactory-date][path]=field_vactory_date
            - sort[sort-vactory-date][direction]=DESC
            - filter[status][value]=1
extra_fields:
  title:
    type: text
    label: "Titre"
  description:
    type: text_format
    label: 'Description'
    options:
      '#format': 'basic_html'
  link:
    type: url_extended
    label: 'Lien'