$brown-dark: brown;
$brown-lighter: brown;
@keyframes movingIcon {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10%);
  }

  75% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0);
  }
}

.vh-header.vh-variant5 {
  background-color: $white;

  .fixed-sticky-header {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    z-index         : 1099;
    transition      : top 500ms ease-in;
    background-color: rgba(255, 255, 255, .1);
    box-shadow      : 0 2px 8px 0 rgba(0, 0, 0, 0.1);

    &.bottom,
    &.top {
      background-color: $white;

      .vh-header--navigation .btn.btn-light i {
        color: $black;
      }

      .vh-header--menu {
        .nav-link {
          color: $black;
        }
      }

      .vh-header--language-switcher {
        .lang-dropdown-select-element {
          .btn.dropdown-toggle,
          .dropdown-menu li a {
            color: $black;
          }
        }
      }
    }

    &.top {
      position  : fixed;
      top       : 0;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    }

    &.bottom {
      position  : fixed;
      top       : -165px;
      transition: none;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

      &.transitioned {
        transition: top 500ms ease-in;
      }
    }
  }

  .vh-layout {
    @include rem(padding-top, 38px);

    .navbar-brand {
      padding-top   : 0;
      padding-bottom: 0;
      max-width     : 150px;
      @include if-ie() {
        width: 150px;
      }

      img {
        max-width: 100%;
      }
    }

    &.vh-layout--mobile {
      border-bottom: 1px solid #A29D9B;
      @include rem(margin-bottom, 20px);
      @include rem(padding-left, 30px);
      @include rem(padding-right, 30px);
    }
  }

  .vh-header--top {
    position: absolute;
    top     : 0;
    width   : 100%;
    height  : 42px;

    &.bottom {
      top   : auto;
      bottom: -42px;
    }

    &:before {
      content         : '';
      height          : 10px;
      width           : 100%;
      background-color: $primary;
      position        : absolute;
      top             : 0;
      left            : 0;
      z-index         : 1;
    }
  }

  .fixed-sticky-header > .container-fluid {
    @include rem(padding-left, 44px);
    @include rem(padding-right, 44px);
  }

  .vh-header--branding {
    h1 {
      margin-bottom: 0;
      line-height  : 1;
    }
  }

  .vh-header--menu-wrapper {
    width: 100%;
  }

  .vh-header--menu {
    .nav-link {
      @include rem(padding, 28px 7px 11px 8px);
      background-color: transparent;
      @include rem(font-size, 16px);
      @include rem(line-height, 20px);
      font-weight     : 600;
      color           : $black;
      position        : relative;

      &:hover {
        color: $black;
      }

      &.active {
        color: $primary;

        &:after {
          width           : 100%;
          content         : '';
          position        : absolute;
          left            : 0;
          bottom          : -1px;
          height          : 3px;
          background-color: $primary;
        }
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .vh-header--navigation {
    .btn.btn-light {
      @include rem(padding, 0 15px);
      border          : none;
      background-color: transparent;
      color           : $black;

      &:hover {
        background-color: transparent;
        color           : $primary;
      }

      i {
        @include rem(font-size, 22px);
      }
    }
  }

  .vh-header--menu-wrapper.open .vh-header--language-switcher .lang-dropdown-select-element .btn.dropdown-toggle {
    color: $black;
  }

  .vh-header--language-switcher {
    @include rem(margin-left, 15px);

    .lang-dropdown-select-element {
      width           : auto;
      background-color: transparent;
      border          : none;
      width           : auto !important;

      .dropdown-menu {
        border          : none;
        background-color: transparent;
        max-height      : 300px !important;

        li {
          &.selected {
            display: none;
          }

          a {
            @include rem(padding, 0 0);
            text-align    : center;
            color         : black;
            text-transform: uppercase;
          }
        }
      }

      & + .selected-option {
        text-transform : uppercase;
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        @include rem(padding, 10px);

        &:after {
          position: static;
          @include rem(margin-top, 10px);
        }
      }

      &.show {
        .btn.dropdown-toggle {
          &:before {
            transform: rotate(180deg);
          }
        }
      }

      .btn.dropdown-toggle {
        border          : none;
        background-color: transparent;
        text-transform  : uppercase;
        @include rem(padding, 10px 0 0 0);
        display         : flex;
        flex-direction  : column;
        align-items     : center;
        justify-content : center;
        border-radius   : 0;
        color           : $black;

        &:after {
          margin : 0 !important;
          display: none;
        }

        &:before {
          content    : $icon-chevrons-down;
          position   : absolute;
          top        : inherit;
          bottom     : 0;
          right      : inherit;
          transform  : none;
          transition : transform 0.3s ease-in 0s;
          @include rem(margin-top, 2px);
          @include rem(font-size, 12px);
          font-family: 'vactory';
        }
      }
    }
  }

  .vh-header-text-animate {
    position: relative;
    overflow: hidden;

    > span {
      display   : none;
      position  : absolute;
      top       : 0;
      z-index   : -1;
      opacity   : 0;
      transition: opacity 0.3s ease-in;

      &.next {
        display: block;
      }

      &.current {
        position: static;
        z-index : 1;
        display : block;
        opacity : 1;
      }
    }
  }

  .vactory_logo_svg {
    width     : 145px;
    max-height: 34px;

    .svg-img {
      fill: #f9b104;
    }

    .svg-letter {
      fill: #4f4248;
    }
  }

  .vh-header--navigation--switcher {
    &.fixed {
      position        : fixed;
      bottom          : 0;
      left            : 0;
      width           : 100%;
      background-color: $white;
      z-index         : 4;
      box-shadow      : 0 -2px 8px 0 rgba(0, 0, 0, 0.06);
      transition      : bottom 500ms ease-in;

      &:not(.footer-show) {
        &.top {
          bottom: 0;
        }

        &.bottom {
          bottom: -100%;
        }
      }

      &.footer-show {
        bottom: 0;
      }

      .vh-header--navigation {
        a.btn.btn-light {
          display       : flex;
          flex-direction: column;
          font-weight   : 600;
          color         : $black;
          @include rem(font-size, 13px);
          @include rem(line-height, 14px);
          @include rem(padding, 15px 2px);
          flex          : 1;
          white-space   : normal;

          i {
            @include rem(font-size, 22px);
            @include rem(margin-bottom, 6px);
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .vh-header.vh-variant5 {
    .fixed-sticky-header {
      background-color: #fff;

      > .container-fluid {
        @include rem(padding-left, 30px);
        @include rem(padding-right, 30px);
      }
    }

    &,
    &.bottom,
    &.top {
      position: static;
    }

    .vh-header--language-switcher {
      margin-left: 0;

      .group-select {
        border: none;
      }

      .lang-dropdown-select-element {
        .dropdown-menu li a {
          color: $black;
        }
      }
    }

    .vh-layout {
      padding-top: 0;
      height     : 80px;
    }

    .vh-header--top {
      @include rem(padding-bottom, 12px);
      border-bottom: none;
      position     : static;
      height       : 0;

      &.bottom {
        position      : absolute;
        top           : auto;
        bottom        : 0;
        transform     : translateY(100%);
        border-bottom : 0;
        padding-bottom: 0;
        display       : none;
        height        : 31px;
      }
    }

    .vh-header--branding {
      @include rem(padding, 21px 0);
      width: 100%;

      a {
        padding     : 0;
        margin-right: 0;
      }

      .hamburger {
        padding   : 0;
        box-shadow: none;
        outline   : none;

        &:hover {
          opacity: 1;
        }

        &.is-active {
          .hamburger-box {
            width : 35px;
            height: 35px;

            .hamburger-inner {
              bottom: 3px;

              &,
              &:after,
              &:before {
                width : 35px;
                height: 2px;
              }
            }
          }
        }

        &:not(.is-active) {
          .hamburger-box {
            width: 25px;

            .hamburger-inner {
              &,
              &:after,
              &:before {
                width : 25px;
                height: 3px;
              }
            }
          }
        }
      }
    }

    .vh-header--menu-wrapper {
      position        : fixed;
      top             : 0;
      left            : 0;
      width           : 100%;
      height          : 100vh;
      background-color: $white;
      z-index         : 999;
      transform       : translateX(-100%);
      transition      : transform 0.3s ease-in;
      @include rem(padding-top, 17px);
      border-top      : 1px solid $brown-lighter;

      &.open {
        transform: translateX(0);
        @include rem(padding-bottom, 30px);

        .vh-header--menu-mobile {
          overflow: auto;
        }
      }

      .vh-header--menu {
        width: 100%;
        @include rem(padding, 0 30px);

        > .nav {
          flex-direction: column;

          a.nav-link {
            font-weight: normal;
            @include rem(padding, 12px 15px 12px 0);
            @include rem(font-size, 24px);
            @include rem(line-height, 31px);
            color      : $black;

            &.active {
              color: $primary;
            }

            &:after {
              display: none;
            }
          }
        }
      }
    }
  }

  .vh-header.vh-variant5 .ui-tooltip {
    display: none !important;
  }
}
