/*******************
Header 2
*******************/
$vh2-link-color: #FFFFFF !default;
$vh2-link-size: 18px !default;
$vh2-link-padding: 15px 15px !default;

.vh-header-2 {
  @include media-breakpoint-up(lg) {
    &.bottom {
      top: -60px;
    }

    &.top {
      top: 0;
    }
  }
  @include media-breakpoint-down(md) {
    &.bottom {
      top: -80px;
    }

    &.top {
      top: 0px;
    }
  }

  .vh-header {
    background     : $gray-500;
    &__top-wrapper {
      position       : relative;
      display        : flex;
      align-items    : center;
      justify-content: center;
      padding        : 10px 0;
    }
    &__top-left,
    &__top-right {
      flex: 0 0 auto;
    }
    &__top-center {
      flex: 1;
      padding: 0 20px;
    }
    &__menu {
      ul.nav {
        justify-content: center;
        a {
          text-transform: capitalize;
          font-weight: bold;
          transition: color .3s ease;
          color: $black;
          padding: 0 16px;

          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}
/*
* Mobile Layer Style
*/
.vhm-header-2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 83px;
  opacity: 1;
  transition: all .5s ease;
  background: $gray-500;

  &.is-closed {
    // display: none;
    opacity: 0;
    transform: translateX(-100%);
  }
  .vhm-header {
    padding: 20px 0 20px;
    border-top: 1px solid $black;
    &__top {
      display: flex;
      justify-content: space-between;
    }
    &__middle {
      overflow: auto;
      overflow-x: hidden;
    }
    &__bottom {
      margin-top: auto;
    }

    &__language-drop-switcher {
      margin-bottom: 20px;
      .bootstrap-select {
        width: auto;
      }
    }

    &__menu {
      margin-bottom: 20px;
    }
  }
}
