<div class="container">
    <blockquote class="quote-box">
        <p class="quotation-mark">
            “
        </p>
        <p class="quote-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, </p>
        <hr>
        <div class="blog-post-actions">
            <p class="blog-post-bottom pull-left">
                Author
            </p>
            <p class="blog-post-bottom pull-right">
                <span class="badge quote-badge">
                    999
                </span>  ❤
            </p>
        </div>
    </blockquote>
</div>
