<div class="container">
    <blockquote class="quote-box">
        <p class="quotation-mark">
            “
        </p>
        <p class="quote-text">
            {{ content.0.quote_text }}
        </p>
        <hr>
        <div class="blog-post-actions">
            <p class="blog-post-bottom pull-left">
                {{ content.0.quote_author }}
            </p>
            <p class="blog-post-bottom pull-right">
                <span class="badge quote-badge">
                    {{ content.0.quote_nbr_like }}
                </span>  ❤
            </p>
        </div>
    </blockquote>
</div>
