<div class="fdb-block">
    <div class="row">
        <div class="col text-center">
            <h2>Extre Title</h2>
            <div class="row text-left pt-4">
                {% for i in 0..1 %}
                    <div class="col-12 col-md-6">
                        <div class="text-h3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
