<div class="fdb-block py-0">
  <div class="row text-left">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="fdb-box rounded-bottom-0 fdb-touch">
        <h2><strong>Title</strong></h2>
        <p class="text-h3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <p class="text-h3 mt-4"><a href="#">Read More</a></p>
      </div>
    </div>
  </div>
</div>
