{{ attach_library('vactory_dynamic_field/dynamic.modal') }}
<div class="select-template-item">
  <img src="{{ content.screenshot_url }}" alt="">
  <h2 class="template-name">{{ content.name }}</h2>
</div>
