
<section class="google-map-field">
  <div class="map-container" data-controls-show="true" data-marker-show="true" data-type="{{ type }}" data-lat="{{ lat }}" data-lon="{{ lon }}" data-zoom="{{ zoom }}"></div>
</section>
