<div class="container">
	<div class="d-flex flex-wrap justify-content-between">
		<span class="text-black p-2 border">Timeline</span>
		<span class="text-black p-2 border">Testimonials</span>
		<span class="text-black p-2 border">Picton et contenu</span>
		<span class="text-black p-2 border">Coût d'une transaction boursière</span>
	</div>
</div>
