<article class="card card--inline mb-3">
  <div class='card-body'>
    <a href="{{ related_content_url }}">
      <div class="font-14 text-primary ">
        <span class="icon-timer mr-1"></span>
        {{ fields.created.content }}
      </div>
      <p class="font-16 font-weight-bold ">
        {{ fields.notification_message.content }}
      </p>
    </a>
  </div>
</article>