<div class="testimonial-grid my-5 p-1">
  <p class="mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
    eum porro a pariatur veniam.</p>
    <div class="row vf-slick-slider" 
        data-toshow="3"
        data-dots="false"
        data-arrows="true"
        data-mobile-centermode="false">
        {% for item in 0..6 %}
            {% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/80/80.jpg" %}
            <div class="col-lg-4 col-md-6 pt-5 pb-3">
                <div class="card">
                    <div class="card-image mx-auto mb-0">
                        <img src="{{ placehold }}" class="rounded-circle img-fluid no-effect">
                    </div>
                    <div class="card-body">
                        <div class='info'>
                            <p><i class='icon-quote-left mr-1'></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi</p>
                            <strong>Maria Kate</strong>
                            <p>Maria</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="testimonial-grid my-5 p-1">
  <p class="mx-auto mb-5 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
    eum porro a pariatur veniam.</p>
    <div class="row vf-slick-slider" 
        data-toshow="3"
        data-dots="false"
        data-arrows="true"
        data-mobile-centermode="false">
        {% for item in 0..6 %}
            {% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/80/80.jpg" %}
            <div class="col-lg-4 col-md-6 pt-3 pb-5">
                <div class="card d-flex flex-column-reverse">
                    <div class="card-image mx-auto mt-0">
                        <img src="{{ placehold }}" class="rounded-circle img-fluid no-effect">
                    </div>
                    <div class="card-body d-flex flex-column-reverse">
                        <div class='info'>
                            <p><i class='icon-quote-left mr-1'></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi</p>
                            <strong>Maria Kate</strong>
                            <p>Maria</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
