<div class="fdb-block fdb-block-hasbackground" style="background-image: url('//place-hold.it/1120x596');">
    <div class="container">
        <div class="row text-left">
            <div class="col-12 col-md-8 col-lg-6 ">
                <div class="fdb-box fdb-touch">
                    <div class="row justify-content-center">
                        <div class="col-12 col-xl-8 text-center">
                            <h2>Title</h2>
                            <p class="text-h3">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem
                                Ipsum
                                has been the industry's standard dummy text ever since the 1500s.</p>
                            <p class="text-h3 mt-4"><a class="btn btn-primary" href="#">Read More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
