.content-diff-results td.content-diff-new, .content-diff-results .content-diff-new {
  background-color: #e6ffed;
  color: #044a14;
}

.content-diff-results td.content-diff-modified, .content-diff-results .content-diff-modified {
  background-color: #ffecec;
  color: #8a1f11;
}

.content-diff-results td.content-diff-synchronized, .content-diff-results .content-diff-synchronized {
  background-color: #f2f2f2;
  color: #333333;
}

.content-diff-results {
  margin-top: 1rem;
}

.vactory-diff-content-instruction {
  margin-bottom: 30px;
  padding: 20px;
  background: #fff9e6;
  border-radius: 6px;
  border-left: 5px solid #ff9800;
}

.vactory-diff-content-instruction h2 {
  margin-top: 0;
  color: #e65100;
  font-size: 22px;
}

.vactory-diff-content-instruction p {
  color: #495057;
  margin-bottom: 15px;
}
