@charset "UTF-8";
@media (min-width: 768px) {
  .full-mega-menu .menu-level--1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .full-mega-menu .menu__link--1 {
    position: relative;
    display: block;
    height: 100%;
    max-height: 71px;
    max-height: 4.4375rem;
    padding-right: 10px;
    padding-right: 0.625rem;
    padding-left: 0;
    padding-top: 20px;
    padding-top: 1.25rem;
    padding-bottom: 20px;
    padding-bottom: 1.25rem;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }
  .full-mega-menu .menu__link--1::after {
    display: block;
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    height: 3px;
    height: 0.1875rem;
    background-color: #6c757d;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
  }
  .full-mega-menu .menu__link--1.open::after, .full-mega-menu .menu__link--1:hover::after {
    width: 100%;
  }
  .full-mega-menu .menu__sub--1 {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    background: #007bff;
    border: 1px solid #007bff;
    border: 0.0625rem solid #007bff;
    min-height: 250px;
    min-height: 15.625rem;
    max-height: calc(100vh - 140px);
    max-height: calc(100vh - 8.75rem);
    overflow-y: auto;
  }
  .full-mega-menu .menu__sub--wrapper--1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-right: 0.9375rem;
    padding-left: 15px;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) and (min-width: 576px) {
  .full-mega-menu .menu__sub--wrapper--1 {
    max-width: 540px;
    max-width: 33.75rem;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .full-mega-menu .menu__sub--wrapper--1 {
    max-width: 720px;
    max-width: 45rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .full-mega-menu .menu__sub--wrapper--1 {
    max-width: 960px;
    max-width: 60rem;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .full-mega-menu .menu__sub--wrapper--1 {
    max-width: 1140px;
    max-width: 71.25rem;
  }
}

@media (min-width: 768px) {
  .full-mega-menu .menu__sub--closer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #fff;
    border: 0.0625rem solid #fff;
    color: #fff;
    padding-left: 1px;
    padding-left: 0.0625rem;
    position: absolute;
    top: -8px;
    top: -0.5rem;
    right: 14px;
    right: 0.875rem;
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    padding: 0;
    border-radius: 50%;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 0;
  }
  .full-mega-menu .menu__sub--closer:hover {
    background-color: #fff;
    color: #007bff;
    border-color: #007bff;
  }
  .full-mega-menu .menu__item--2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .full-mega-menu .menu-level--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    border-radius: 0;
    padding: 20px 25px;
    padding: 1.25rem 1.5625rem;
    margin-top: 30px;
    margin-top: 1.875rem;
  }
  .full-mega-menu .menu__item--2 {
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-left: 0.9375rem;
    padding-right: 60px;
    padding-right: 3.75rem;
    padding-top: 20px;
    padding-top: 1.25rem;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
  }
  .full-mega-menu .menu__item--2 .menu__sub--closer {
    display: none !important;
  }
  .full-mega-menu .menu__link--2 {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 400;
    color: #fff;
    display: block;
    padding-bottom: 10px;
    padding-bottom: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    border-bottom: 1px solid #fff;
    border-bottom: 0.0625rem solid #fff;
    white-space: nowrap;
  }
  .full-mega-menu .menu__link--2 br {
    display: none;
  }
  .full-mega-menu .menu__item--3 {
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
  }
  .full-mega-menu .menu__link--3 {
    white-space: nowrap;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300;
    color: #fff;
  }
  .full-mega-menu .menu__link--3 br {
    display: none;
  }
  .full-mega-menu .menu__link--3:hover {
    text-decoration: underline;
  }
}

@media (min-width: 992px) {
  .full-mega-menu {
    margin-right: 10px;
    margin-right: 0.625rem;
  }
  .full-mega-menu .menu__item--2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (max-width: 767.98px) {
  .full-mega-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 85px;
    top: 5.3125rem;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 85px);
    height: calc(100vh - 5.3125rem);
    z-index: 9999;
    background: #007bff;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
  }
  .full-mega-menu.is-open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .full-mega-menu ul.menu-level--1 {
    height: 100%;
    overflow-y: auto;
    display: block;
  }
  .full-mega-menu .menu__item .menu__link {
    position: relative;
    display: block;
    padding-right: 50px;
    padding-right: 3.125rem;
    padding-left: 25px;
    padding-left: 1.5625rem;
    padding-top: 22px;
    padding-top: 1.375rem;
    padding-bottom: 22px;
    padding-bottom: 1.375rem;
    color: #fff;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 500;
  }
  .full-mega-menu .menu__item.has-sub > .menu__link::after {
    content: "î¤’";
    font-family: 'vactory';
    font-size: 12px;
    font-size: 0.75rem;
    position: absolute;
    top: 50%;
    right: 25px;
    right: 1.5625rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .full-mega-menu .menu__item.has-sub.open > .menu__link::after {
    -webkit-transform: rotate(90deg) translateX(-50%);
        -ms-transform: rotate(90deg) translateX(-50%);
            transform: rotate(90deg) translateX(-50%);
  }
  .full-mega-menu .menu__item--2 > .menu__link {
    padding-left: 35px;
    padding-left: 2.1875rem;
  }
  .full-mega-menu .menu__item--3 > .menu__link {
    padding-left: 45px;
    padding-left: 2.8125rem;
  }
  .full-mega-menu ul.menu-level--2,
  .full-mega-menu ul.menu-level--3 {
    display: none;
  }
}
