@charset "UTF-8";
html.menu-open,
body.menu-open {
  height: 100%;
  overflow: hidden;
}

.vh-sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  -webkit-transition: top 500ms ease-in;
  -o-transition: top 500ms ease-in;
  transition: top 500ms ease-in;
}

.vh-sticky.vh-fixed {
  position: fixed;
}

.vh-sticky.top {
  top: -73px;
  top: -4.5625rem;
}

.toolbar-horizontal .vh-sticky.top {
  top: -34px;
  top: -2.125rem;
}

.toolbar-horizontal.toolbar-tray-open .vh-sticky.top {
  top: 6px;
  top: 0.375rem;
}

.vh-sticky.bottom {
  top: -120px;
  top: -7.5rem;
}

.vh-sticky.transitioned {
  -webkit-transition: top ease-in 0.5s;
  -o-transition: top ease-in 0.5s;
  transition: top ease-in 0.5s;
}

.vh-header {
  padding-bottom: 3px;
  padding-bottom: 0.1875rem;
}

.vh-header__branding .navbar-brand {
  padding: 0;
}

.vh-header__branding img {
  max-height: 40px;
  max-height: 2.5rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
}

.vh-header__language-drop-switcher .bootstrap-select.form-control {
  width: auto;
}

.vh-header__language-drop-switcher.transparent .bootstrap-select {
  border: none;
  background: transparent;
  color: #fff;
}

.vh-header__language-drop-switcher.transparent .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  padding-left: 0;
  color: #007bff;
}

.vh-header__language-drop-switcher.transparent .dropdown-toggle:focus {
  outline: none !important;
}

.vh-header__language-drop-switcher.transparent .dropdown-toggle::after {
  margin: 0;
}

.vh-header__language-drop-switcher.transparent .dropdown-menu {
  border: none;
  padding: 0;
}

.vh-header__language-drop-switcher.transparent .dropdown-menu li a {
  font-weight: 400;
  color: #212529;
  font-size: 15px;
  font-size: 0.9375rem;
}

.vh-header__language-drop-switcher.transparent .dropdown-menu li:hover {
  background: #f8f9fa;
}

.vh-header__language-link-switcher ul {
  list-style: none;
  padding: 0;
}

.vh-header__language-link-switcher li {
  display: inline-block;
  padding: 4px 8px;
  padding: 0.25rem 0.5rem;
}

.vh-header__language-link-switcher a {
  color: #000;
}

.vh-header__language-link-switcher a:hover {
  color: #007bff;
}

.vh-header__language-link-switcher a.is-active {
  color: #007bff;
}

.vh-header__language-link-switcher.white a {
  color: #fff;
}

.vh-header__language-link-switcher--inline .language-switcher-language-url {
  list-style: none;
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.vh-header__language-link-switcher--inline .language-link {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 600;
  font-family: "Open Sans";
  color: #007bff;
  padding: 3px 4px;
  padding: 0.1875rem 0.25rem;
  margin: 0 4px;
  margin: 0 0.25rem;
}

.vh-header__language-link-switcher--inline .language-link.is-active {
  color: #000;
  pointer-events: none;
}

.vh-header__language-link-switcher--inline li:not(:last-child) a::before {
  content: '';
  position: absolute;
  top: 1px;
  top: 0.0625rem;
  height: 18px;
  height: 1.125rem;
  width: 1px;
  width: 0.0625rem;
  background-color: #000;
  right: -4px;
  right: -0.25rem;
}

.vh-header button.js-btn-search-overlay {
  background: transparent;
  color: #007bff;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.vh-header__search-btn button {
  height: 100%;
  border: none;
  font-size: 18px;
  font-size: 1.125rem;
  background-color: transparent;
  padding: 10px;
  padding: 0.625rem;
  cursor: pointer;
  color: #000;
}

.vh-header__search-btn button:hover {
  color: #007bff;
}

.vh-header__search-btn.white button {
  color: #fff;
}

.vh-header nav.block--menu a {
  display: inline-block;
  padding: 4px 8px;
  padding: 0.25rem 0.5rem;
  color: #fff;
}

.vh-header nav.block--menu a:hover {
  color: #007bff;
}

.vh-header__menu {
  /*
    * Desktop Style
    */
  /*
    * Mobile Style
    */
}

.vh-header__menu .mega-dropdown {
  position: static;
}

.vh-header__menu .navbar {
  padding: 0;
  position: static;
}

.vh-header__menu .navbar-nav {
  margin-left: auto;
}

.vh-header__menu .navbar-nav > .dropdown .dropdown-menu {
  min-width: 210px;
  min-width: 13.125rem;
  margin-top: 0;
}

.vh-header__menu .navbar-nav:not(.menu-level--1) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vh-header__menu .navbar-nav:not(.menu-level--1) .nav-item {
  display: block;
}

.vh-header__menu .dropdown-toggle::after {
  display: inline-block;
  position: absolute;
  right: 10px;
  right: 0.625rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  font-family: 'vactory';
  border: none;
  width: auto;
  height: auto;
}

.vh-header__menu .dropdown-toggle[aria-expanded="true"]::after {
  content: "";
}

.vh-header__menu .dropdown-menu {
  border: 0;
  -webkit-box-shadow: 0 0 30px rgba(115, 128, 157, 0.4);
          box-shadow: 0 0 30px rgba(115, 128, 157, 0.4);
  -webkit-box-shadow: 0 0 1.875rem rgba(115, 128, 157, 0.4);
          box-shadow: 0 0 1.875rem rgba(115, 128, 157, 0.4);
  border-radius: 0.25rem;
}

.vh-header__menu .dropdown-menu.menu__level--1 {
  top: inherit !important;
}

.vh-header__menu .dropdown-menu.animated:not(.menu__level--1):not(.mega-menu) {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.vh-header__menu .dropdown-menu .nav-item:focus > .nav-link, .vh-header__menu .dropdown-menu .nav-item:hover > .nav-link {
  background-color: #ccc;
}

.vh-header__menu .dropdown-submenu {
  position: relative;
}

.vh-header__menu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0;
  border-radius: 0.25rem;
  display: none;
}

.vh-header__menu .dropdown-submenu > .dropdown-menu.menu-right {
  left: auto;
  right: 100%;
}

.vh-header__menu .nav-link.is-active, .vh-header__menu .nav-link.is-active-trail {
  background-color: #007bff;
}

.vh-header__menu .menu-level--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vh-header__menu .menu__item--1 .nav-link {
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 10px 20px;
  padding: 0.625rem 1.25rem;
}

.vh-header__menu .menu__item--1 .nav-link.dropdown-toggle {
  padding: 10px 40px 10px 20px;
  padding: 0.625rem 2.5rem 0.625rem 1.25rem;
  position: relative;
}

.vh-header__menu .menu__item--1.show > .nav-link, .vh-header__menu .menu__item--1:hover > .nav-link {
  background: #007bff;
}

.vh-header__menu .menu__item--1.show .dropdown-toggle::after, .vh-header__menu .menu__item--1:hover .dropdown-toggle::after {
  content: "";
}

.vh-header__menu .menu__item--2 .nav-link {
  position: relative;
  color: #000;
  padding: 8px 10px;
  padding: 0.5rem 0.625rem;
}

.vh-header__menu .menu__item--2 .nav-link.dropdown-toggle {
  padding: 8px 15px 8px 10px;
  padding: 0.5rem 0.9375rem 0.5rem 0.625rem;
}

.vh-header__menu .menu__item--2 .nav-link.dropdown-toggle::after {
  content: "";
}

@media (min-width: 992px) {
  .vh-header__menu .hover-dropdown .navbar-nav > .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .vh-header__menu .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .vh-header__menu .dropdown-menu.animated {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
  }
}

.vh-header .mega-menu {
  padding: 20px;
  padding: 1.25rem;
}

.vh-header .mega-menu .field__label {
  display: none;
}

.vh-header .mega-menu ul {
  list-style: none;
  padding: 0;
}

.vh-header .main__field-injected-block {
  padding-top: 20px;
  padding-top: 1.25rem;
}

.vh-header .main__field-injected-block .field__label {
  display: none;
}

.vh-header__social-link.white span.fa {
  color: #fff;
}

.vh-header__scroll-indicator {
  display: block;
  background-color: #007bff;
  height: 3px;
  height: 0.1875rem;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.vh-header ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.vhm-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 20px 10px;
  padding: 1.25rem 0.625rem;
}

.vhm-header__branding {
  text-align: center;
}

.vhm-header__branding .navbar-brand {
  margin: 0;
}

.vhm-header__branding img {
  max-height: 50px;
  max-height: 3.125rem;
}

.vhm-header__menu {
  overflow: auto;
  overflow-x: hidden;
}

.vhm-header__menu ul {
  padding: 0;
  list-style: none;
}

.vhm-header__menu .menu-wrapper {
  display: none;
}

.vhm-header__menu .menu__item.has-sub > .menu__link {
  position: relative;
  padding-right: 40px;
  padding-right: 2.5rem;
}

.vhm-header__menu .menu__item.has-sub > .menu__link::after {
  content: "";
  font-family: 'vactory';
  display: block;
  position: absolute;
  right: 20px;
  right: 1.25rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.vhm-header__menu .menu__item.has-sub > .menu__link.expanded::after {
  content: "";
}

.vhm-header__menu .menu__link,
.vhm-header__menu .menu_sub_link {
  display: block;
}

.vhm-header__menu .menu__link {
  font-size: 18px;
  font-size: 1.125rem;
  color: #000;
  padding: 10px 15px;
  padding: 0.625rem 0.9375rem;
}

.vhm-header__menu .menu__link.is-active-trail {
  background: #007bff;
}

.vhm-header__menu .menu-wrapper {
  padding: 0 10px;
  padding: 0 0.625rem;
}

.vhm-header__menu .menu_sub_link {
  font-size: 16px;
  font-size: 1rem;
  padding: 8px 10px;
  padding: 0.5rem 0.625rem;
}

.vhm-header__menu .menu_sub_link.is-active {
  background: #007bff;
  color: #fff;
}

.vhm-header__social-link {
  text-align: center;
  margin-top: auto;
  padding-top: 20px;
  padding-top: 1.25rem;
}
