<div class="fdb-block">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">
            <h2>Title</h2>
            <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
            <p class="mt-5 mt-sm-4"><a class="btn btn-primary" href="#">Read More</a></p>

        </div>
    </div>
</div>
