@keyframes notification-background-blink {
    from {
        background-color: #ffd7d6;
    }
    to {
        background-color: #ff8482;
    }
}

.generate-notification-blink {
    animation-name: notification-background-blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 10px;
    border-radius: 5px;
}

