<div class="t-two-sided-block-with-bg-cta">
  <div class="row">
    <div class="col-12">
      <div class="t-content">
        {% for item in 0..1 %}
          {% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/554/272.jpg" %}
          <div class="t-item lazyload"
               data-bg="{{ placehold }}"
               style="background-image: url('{{ content.image_placeholder }}')">
            <div class="t-box text-center">
              <span class="t-entete">Extra Title</span>
              <h2>Title</h2>
              <div class="t-box-details text-center">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries.
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
