.search-overlay-variant2 {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 9999;
}

.search-overlay-variant2.open {
  opacity: 1;
  height: 100%;
}

.search-overlay-variant2 .container {
  height: 100%;
}

.search-overlay-variant2 .search-block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.search-overlay-variant2 .form-search-wrapper {
  position: relative;
  padding: 100px 0;
  padding: 6.25rem 0;
}

.search-overlay-variant2 .form-search-input {
  width: 100%;
  position: relative;
}

.search-overlay-variant2 .form-search-input-text {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #666;
  border-bottom: 0.0625rem solid #666;
  width: 100%;
  padding: 10px 20px 5px 0;
  padding: 0.625rem 1.25rem 0.3125rem 0;
  color: white;
  font-size: 24px;
  font-size: 1.5rem;
}

.search-overlay-variant2 .form-search-submit {
  width: 40px;
  width: 2.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  cursor: pointer;
}

.search-overlay-variant2 .form-search-submit:before {
  font-size: 27px;
  font-size: 1.6875rem;
  color: white;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.search-overlay-variant2 .form-search-submit input {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.search-overlay-variant2 .close-search-overlay {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 8px;
  padding: 0.5rem;
  background-color: transparent;
  color: white;
}

.search-overlay-variant2 .close-search-overlay:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.search-overlay-variant2 .search__info {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #fff;
}

.search-overlay-variant2 + .search-overlay-backdropShadow {
  display: none !important;
}

@media (min-width: 992px) {
  .search-overlay-variant2.open {
    opacity: 1;
    height: 220px;
    height: 13.75rem;
  }
  .search-overlay-variant2 > .container {
    height: 100%;
  }
  .search-overlay-variant2 .search-block-form {
    height: auto;
    display: block;
  }
  .search-overlay-variant2 .form-search-wrapper {
    padding: 100px 0 0;
    padding: 6.25rem 0 0;
  }
  .search-overlay-variant2 .form-search-input-text {
    border-bottom: 2px solid #666;
    border-bottom: 0.125rem solid #666;
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-size: 1rem;
    padding: 10px 20px 5px 0;
    padding: 0.625rem 1.25rem 0.3125rem 0;
  }
  .search-overlay-variant2 .form-search-submit:before {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .search-overlay-variant2 .close-search-overlay {
    top: 30px;
    top: 1.875rem;
  }
  .search-overlay-variant2 .close-search-overlay:hover {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .search-overlay-variant2 + .search-overlay-backdropShadow {
    display: block !important;
    opacity: 0;
    position: fixed;
    z-index: 1;
    background: rgba(12, 12, 12, 0.4);
    backdrop-filter: blur(5px);
    backdrop-filter: blur(0.3125rem);
    -webkit-backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(0.3125rem);
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: -99999px;
    left: -6249.9375rem;
    -webkit-transition: opacity cubic-bezier(0.51, 0.005, 0, 1) 750ms;
    -o-transition: opacity cubic-bezier(0.51, 0.005, 0, 1) 750ms;
    transition: opacity cubic-bezier(0.51, 0.005, 0, 1) 750ms;
  }
  .search-overlay-variant2.open + .search-overlay-backdropShadow {
    opacity: 1;
    left: 0px;
    left: 0;
  }
}

/*# sourceMappingURL=vactory_search_overlay_v2.css.map */
