<article class="container">
    <div class="row pt-3">
        <div class="col-md-8">
            <h2>{{ content.title }}</h2>
        </div>
        <div class="col-md-4">
            <h4 class="text-muted">{{ content.reference }}</h4>
        </div>
    </div>
    <div class="pt-5">
        {{ content.form }}
    </div>
</article>