.js .paragraphs-collapsed-description:after {
  display: none !important;
}

.js .paragraph-type-top {
  align-items: center;
}

.paragraphs-subform .field--type-boolean .form-type--boolean {
  margin: 15px 0 !important;
}

.js .field--widget-entity-reference-paragraphs .field-multiple-drag {
  vertical-align: middle !important;
}

.no-touchevents .dropbutton--extrasmall .dropbutton__toggle {
  padding: 12px !important;
  box-shadow: none !important;
}

.js .field--widget-entity-reference-paragraphs .dropbutton-wrapper {
  margin-right: 10px !important;
}

#field-vactory-paragraphs-add-more-wrapper .form-item--multiple .form-actions {
  align-items: center;
}