<div class="fdb-block">
    <div class="row justify-content-center">
        <div class="col-12 text-left">
            <h2>Froala Design Blocks</h2>
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        </div>
    </div>
    <div class="row text-left pt-5">
        {% for item in 0..1 %}

        {% if loop.index == 1 %}
        <div class="col-12 col-sm-6 col-md-5">
            {% else %}
            <div class="col-12 col-sm-6 col-md-5 ml-sm-auto pt-5 pt-sm-0">
                {% endif %}
                {% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/50/50.jpg" %}
                <img alt="Image Alt"
                    class="lazyload fdb-icon"
                    src="{{ content.image_placeholder }}"
                    data-src="{{ placehold }}">
                <h3><strong>Title</strong></h3>
                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
