.vc-sticky-bar {
  position      : fixed;
  right: 0;
  top           : 40vh;
  z-index       : 500;
  display       : flex;
  flex-direction: column;
  align-items   : flex-start;

  &__list {
    display         : flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }

  &__item {
    position: relative;
    margin-bottom: 4px;
    background-color: $white;
    box-shadow: -3px 0px 9px -3px rgba(0,0,0,0.7);
    a {
      display: inline-block;
      padding: 10px;
    }
    &:hover {
      .vc-sticky-bar__tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__icon {
    display         : inline-flex;
    justify-content : center;
    align-items     : center;
    width           : 40px;
    height          : 40px;
    color           : #3D83B5;
    font-size       : 18px;
    &::before {
      display: inline-block;
      // width: 15px;
      height: 15px;
    }
  }

  &__tooltip {
    display: block;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 10px;
    background-color: $white;
    box-shadow: $box-shadow;
    border-radius: 12px 0 0 12px;
    text-align: center;
    white-space: nowrap;
    color: $black;
    font-size: 14px;
    line-height: 1.2;
    padding: 2px 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
}
