<div class="vc-sticky-bar">
  <ul class="vc-sticky-bar__list">
    <li class="vc-sticky-bar__item">
      <a href="#">
        <i class="vc-sticky-bar__icon icon icon-linkedin"></i>
        <span class="vc-sticky-bar__tooltip">linkedin</span>
      </a>
    </li>
    <li class="vc-sticky-bar__item">
      <a href="#">
        <i class="vc-sticky-bar__icon icon icon-youtube"></i>
        <span class="vc-sticky-bar__tooltip">youtube</span>
      </a>
    </li>
    <li class="vc-sticky-bar__item">
      <a href="#">
        <i class="vc-sticky-bar__icon icon icon-twitter"></i>
        <span class="vc-sticky-bar__tooltip">twitter</span>
      </a>
    </li>
  </ul>
</div>
