<div class="t-temoignage-box">
  <div class="row vf-slick-slider"
       data-toshow="2"
       data-dots="true"
       data-mobile-dots="true"
       data-mobile-arrows="true"
  >
    {% for item in 0..2 %}
      <div class="col-md-6">
        <div class="t-box">
            <p class="t-box-description">
              Great One
            </p>
            <p class="t-box-temoignage text-small">
              John Doe
            </p>
            <p class="t-box-temoignage-operation text-small">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>

        </div>
      </div>
    {% endfor %}
  </div>
  <div class="slick-controls d-lg-none"></div>
</div>
