{{ attach_library('vactory_dynamic_field_unitegallery/unitegallery.video') }}
<div id="gallery-video"
     style="display:none;">

  <a href="http://unitegallery.net">
    <img alt="Lemon Slice"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile1.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         data-type="youtube"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Peppers"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile2.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile2.jpg"
         data-description="Those are peppers"
         data-type="youtube"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Keys"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile3.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile3.jpg"
         data-description="Those are keys"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Friuts in cup"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile4.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile4.jpg"
         data-description="Those are friuts in a cup"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Yellow Flowers"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile5.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile5.jpg"
         data-description="Those are yellow flowers"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Butterfly"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile6.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile6.jpg"
         data-description="This is butterfly"
         data-type="youtube"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Boat"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile7.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile7.jpg"
         data-description="This is a boat"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Woman"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile8.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile8.jpg"
         data-description="This is a woman"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Cup Of Coffee"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile9.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile9.jpg"
         data-description="This is cup of coffee"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Iphone Back"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile10.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile10.jpg"
         data-description="This is iphone back"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>
  <a href="http://unitegallery.net">
    <img alt="Lemon Slice"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile1.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Peppers"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile2.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile2.jpg"
         data-description="Those are peppers"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Keys"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile3.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile3.jpg"
         data-description="Those are keys"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Friuts in cup"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile4.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile4.jpg"
         data-description="Those are friuts in a cup"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Yellow Flowers"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile5.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile5.jpg"
         data-description="Those are yellow flowers"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Butterfly"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile6.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile6.jpg"
         data-description="This is butterfly"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Boat"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile7.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile7.jpg"
         data-description="This is a boat"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Woman"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile8.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile8.jpg"
         data-description="This is a woman"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Cup Of Coffee"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile9.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile9.jpg"
         data-description="This is cup of coffee"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Iphone Back"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile10.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile10.jpg"
         data-description="This is iphone back"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>
  <a href="http://unitegallery.net">
    <img alt="Lemon Slice"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile1.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Peppers"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile2.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile2.jpg"
         data-description="Those are peppers"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Keys"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile3.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile3.jpg"
         data-description="Those are keys"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Friuts in cup"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile4.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile4.jpg"
         data-description="Those are friuts in a cup"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Yellow Flowers"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile5.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile5.jpg"
         data-description="Those are yellow flowers"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Butterfly"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile6.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile6.jpg"
         data-description="This is butterfly"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Boat"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile7.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile7.jpg"
         data-description="This is a boat"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Woman"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile8.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile8.jpg"
         data-description="This is a woman"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Cup Of Coffee"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile9.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile9.jpg"
         data-description="This is cup of coffee"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Iphone Back"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile10.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile10.jpg"
         data-description="This is iphone back"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>
  <a href="http://unitegallery.net">
    <img alt="Lemon Slice"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile1.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Peppers"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile2.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile2.jpg"
         data-description="Those are peppers"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Keys"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile3.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile3.jpg"
         data-description="Those are keys"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Friuts in cup"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile4.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile4.jpg"
         data-description="Those are friuts in a cup"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Yellow Flowers"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile5.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile5.jpg"
         data-description="Those are yellow flowers"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Butterfly"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile6.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile6.jpg"
         data-description="This is butterfly"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Boat"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile7.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile7.jpg"
         data-description="This is a boat"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>

  <a href="http://unitegallery.net">
    <img alt="Woman"
         src="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/thumbs/tile8.jpg"
         data-image="/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_unitegallery/images/big/tile8.jpg"
         data-description="This is a woman"
         data-videoid="668nUCeBHyY" data-type="youtube"
         style="display:none">
  </a>
</div>
