{% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/50/50.jpg" %}
<div class="fdb-block">

    <div class="row text-center">
        <div class="col-12">
            <h2>Features</h2>
        </div>
    </div>

    <div class="row text-left mt-5">
        {% for item in 0..7 %}

            {% if loop.index == 5 %}

                </div><div class="row text-left pt-3 pt-lg-5">

            {% endif %}

            {% if loop.index == 1 or loop.index == 5 %}
                <div class="col-12 col-sm-6 col-lg-3">
            {% else %}
                <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-sm-0">
            {% endif %}

                <div class="row">

                         <div class="col-3">
                            <img alt="Image Alt"
                                class="lazyload img-fluid"
                                src="{{ content.image_placeholder }}"
                                data-src="{{ placehold }}">
                        </div>

                    <div class="col-9">

                            <h3><strong>Item</strong></h3>


                             <p>Lorem Ipsum is simply dummy text for u.</p>

                    </div>
                </div>

            </div>

        {% endfor %}

    </div>
</div>
