<div class="t-boxed-table">
  <div class="row">
    {% for item in 0..2 %}
      <div class="t-box col-12">
        <p class="t-box-title"> Item </p>
        <div class="t-box-side">
          <p>
            <span>Item</span>
            / Type
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
