<div class="fdb-block">
    <div class="row text-center justify-content-center">
        <div class="col-8">
            <h2>Title</h2>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        {% for i in 0..2 %}
            {% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/255/255.jpg" %}
            <div class="col-sm-3 m-sm-auto">
                <img alt="Image Alt"
                    class="img-fluid rounded-circle lazyload "
                    src="{{ content.image_placeholder }}"
                    data-src="{{ placehold }}">
                <h2>Sara Doe</h2>
                <p>Founder</p>
            </div>
        {% endfor %}
    </div>
</div>
