<div class="t-boxed-text-with-icon">
  <h3> Extra Big Title</h3>
  <div class="row">
    {% for item in 0..1 %}
      {% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/90/97.jpg" %}
      <div class="col-md-12 t-boxed-parent">
        <div class="t-item-box">
          <div class="d-flex t-item flex-column flex-lg-row">
            <div class="t-item-img">
              <img class="img-fluid lazyload"
                   src="{{ content.image_placeholder }}"
                   data-src="{{ placehold }}"
                   alt="Image ALt">
            </div>
            <div class="t-item-details">
              <h3 class="h4">Title</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries</p>
            </div>
          </div>
          <div class="t-item">
            <div class="t-boxed-details">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
