<div class="toolbox-contact">
    <ul>
        {% for item in 0..2 %}
            <li class="d-block">
                <div class="list-itel-inner">
                    <a href="#" class="text">
                        <span class="icon-chat icon-wrapper"></span>
                        <p>
                            contact
                        </p>    
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>