<div class="fdb-block fdb-viewport fdb-block-hasbackground" style="background-image: url('/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_froala/widgets/73/red.svg');">
    <div class="container">
        <div class="align-items-center justify-content-center d-flex">
            <div class="row align-items-center text-left">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6">

                    <h2>Title</h2>

                    <p class="text-h3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

                    <p class="mt-5">
                        <a class="btn btn-primary btn-shadow" href="#">Read More</a>


                        <a class="btn btn-white btn-shadow ml-4" href="#">Read More</a>

                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
