<button id="vhm-hamburger-btn"
        class="hamburger hamburger--collapse js-hamburger js-offcanvas-trigger"
        type="button"
        role="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        data-offcanvas-trigger="off-canvas-left"
        aria-controls="navbarNavDropdown"
        aria-label="Menu"
        aria-expanded="false"
        >
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
