// Template 1
.t-2b-image-video-title-text-button {

  &.block-with-bg {
    @include bg-shadow(#fff, 0 2px 8px 0 rgba(0, 0, 0, 0.06), 32px, 24px, none, 6px);

    .block-image {
      text-align: center;

      img {
        width: auto;
        //max-width: 90%;
      }
    }
  }

  h2 {
    @include rem(margin-bottom, 16px);
    text-transform: none;
  }

  .text-large {
    @include rem(margin-bottom, 15px);
    @include rem(font-size, 16px);
    @include rem(line-height, 25px);
    font-weight: normal;
  }

  .block-image {
    @include rem(margin-bottom, 15px);
  }

  .t-2b-buttons {
    text-align: center;
  }
}