
<tr>
  <td style="padding: 20px 40px; font-size: 12px; line-height: 18px; font-weight: 400; font-style: italic; color: #312D39;" class="mobile-px-20 mobile-py-14">
      {{ content.0.content }}
  </td>
</tr>
