{{ attach_library('vactory_push_notifications/push_notifications.v1') }}
<div class="push-notifications variant1 effect-flip-h">
  <button class="close"><i class="icon-close"></i></button>
  <div class="push-notifications--content container">
    {{ content }}
  </div>
</div>
