<div class="fdb-block">
    <div class="row text-center justify-content-sm-center no-gutters">
        {% for item in 0..5 %}
            <div class="col-12 col-sm-8 col-md-4 m-auto pt-3 pt-md-0">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 col-md-10 mx-auto">
                        <h3><strong>Title</strong></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</div>
