<div class="t-three-card-with-cta">
    <div class="row">
        {% for item in 0..2 %}
            <div class="col-md-4 t-item">
                <p class="t-title">Title</p>
                <a href="#" class="btn-with-icon icon-arrow_forward">Read More</a>
            </div>
        {% endfor %}
    </div>
</div>
