<div class="fdb-block pt-0 pb-0">
    <div class="col-fill-right" style="background-image: url('/profiles/vactory_starter_kit/modules/vactory_dynamic_field/modules/vactory_dynamic_field_froala/widgets/22/6.jpg');"><!--#--></div>
    <div class="pt-5 pb-5">
        <div class="row">
            <div class="col-12 col-md-5 text-center">
                <h2>Title</h2>
                <p class="text-h3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum
                    has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley
                    of type and scrambled it to make a type specimen book.</p>
                <p class="mt-4 mb-5">
                    <a class="btn btn-primary" href="#">Read More</a>
                </p>
                <p>Follow us on</p>
                <p>
                    <a class="mx-2 text-secondary" href="#"><i aria-hidden="true" class="icon-facebook"><!--#--></i></a>
                    <a class="mx-2 text-secondary" href="#"><i aria-hidden="true" class="icon-github"><!--#--></i></a>
                    <a class="mx-2 text-secondary" href="#"><i aria-hidden="true" class="icon-twitter"><!--#--></i></a>
                    <a class="mx-2 text-secondary" href="#"><i aria-hidden="true" class="icon-instagram">
                            <!--#--></i></a>
                </p>
            </div>
        </div>
    </div>
</div>
