<div class="jumbotron">
    <h1 class="display-4">Hello World!</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, nam.
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deleniti esse harum illo natus quam repellat rerum soluta ut voluptate. Aliquam commodi, consectetur consequuntur cupiditate debitis dicta dolore dolorem dolorum est facilis illo ipsam iusto maxime necessitatibus officia quisquam voluptatem?
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">{{ 'Learn more' | t }}</a>
    </p>
</div>
