<div class='toolbox-contact'>
  <ul>
    {% for item in 0..3 %}
      <li class="d-block">
        <div class="list-itel-inner">
          <a href="#" >
            <span class="icon-user icon-wrapper"></span>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
