<div class="t-pushes-with-icons-titles row justify-content-center">
  {% for item in 0..3 %}
    <div class="col-lg-3 col-md-6 col-12">
      <div class="t-box d-flex justify-content-center align-items-center flex-column mb-3">
        <i class="icon-email mb-4"></i>
        <h5>
          <a href="#">
            Title
          </a>
        </h5>
      </div>
    </div>
  {% endfor %}
</div>
