<div class="t-pushes-with-icons-titles row justify-content-center">
  {% for item in content %}
    {% set bg_color = (item.box_color is not empty) ? item.box_color : ' ' %}

    {% set link_attributes = create_attribute() %}
    {% set link_attributes = item.link.attributes.id is not empty ? link_attributes.setAttribute('id', item.link.attributes.id ) : link_attributes %}
    {% set link_attributes = item.link.attributes.class is not empty ? link_attributes.setAttribute('class', item.link.attributes.class ) : link_attributes %}
    {% set link_attributes = item.link.attributes.target is not empty ? link_attributes.setAttribute('target', item.link.attributes.target ) : link_attributes %}
    {% set link_attributes = item.link.attributes.rel is not empty ? link_attributes.setAttribute('rel', item.link.attributes.rel ) : link_attributes %}

    <div class="col-lg-3 col-md-6 col-12">
      <div class="t-box d-flex justify-content-center align-items-center flex-column mb-3">
        {% if item.box_icon is not empty %}
          <i class="mb-4 {{ item.box_icon }}"></i>
        {% endif %}
        {% if item.title is not empty %}
          <h5>
            {% if item.link.url is not empty %} 
              <a href="{{ item.link.url }}" {{ link_attributes }} >
            {% endif %}
              {{ item.title }}
            {% if item.link.url is not empty %} 
              </a>
            {% endif %}
          </h5>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
