@include media-breakpoint-up(md) {
  .full-mega-menu {

    .menu-level--1 {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
    }
    
    .menu__link--1 {
      position: relative;
      display: block;
      height: 100%;
      max-height: 71px;
      padding-right: 10px;
      padding-left: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 14px;
      line-height: 1.14;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;

      &::after {
        display: block;
        content: '';
        position: absolute;
        width: 0;
        left: 0;
        bottom: 0;
        height: 3px;
        background-color: $secondary;
        transition: width .3s;
      }

      &.open,
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    .menu__sub--1 {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 9;
      width: 100%;
      background: $primary;
      border: 1px solid $primary;
      min-height: 250px;
      max-height: calc(100vh - 140px);
      overflow-y: auto;
    }

    .menu__sub--wrapper--1 {
      position: relative;
      @include make-container;
      @include make-container-max-widths;
    }

    .menu__sub--closer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      box-shadow: none;
      border: 1px solid $white;
      color: $white;
      padding-left: 1px;
      position: absolute;
      top: -8px;
      right: 14px;
      width: 40px;
      height: 40px;
      padding: 0;
      border-radius: 50%;
      font-size: 18px;
      line-height: 0;
      &:hover {
        background-color: $white;
        color: $primary;
        border-color: $primary;
      }
    }

    .menu__item--2 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .menu-level--2 {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      border-radius: 0;
      padding: 20px 25px;
      margin-top: 30px;
    }

    .menu__item--2 {
      position: relative;
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: $grid-gutter-width/2;
      padding-right: 60px;
      padding-top: 20px;
      margin-bottom: 30px;

      .menu__sub--closer {
        display: none !important;
      }
    }

    .menu__link--2 {
      font-size: 18px;
      font-weight: 400;
      color: $white;
      display: block;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid $white;
      white-space: nowrap;
      br {
        display: none;
      }
    }

    .menu__item--3 {
      margin-bottom: 10px;
    }

    .menu__link--3 {
      white-space: nowrap;
      font-size: 14px;
      font-weight: 300;
      color: $white;
      br {
        display: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .full-mega-menu {
    margin-right: 10px;
    .menu__item--2 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
}


@include media-breakpoint-down(sm) {
  .full-mega-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 85px;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 85px);
    z-index: 9999;
    background: $primary;
    transform: translateX(-100%);
    transition: transform .4s;
    &.is-open {
      transform: translateX(0);
    }

    ul.menu-level--1 {
      height: 100%;
      overflow-y: auto;
      display: block;
    }

    .menu__item {
      .menu__link {
        position: relative;
        display: block;
        padding-right: 50px;
        padding-left: 25px;
        padding-top: 22px;
        padding-bottom: 22px;
        color: $white;
        font-size: 14px;
        font-weight: 500;
      }

      &.has-sub {
        > .menu__link {
          &::after {
            content: $icon-chevron-right;
            font-family: 'vactory';
            font-size: 12px;
            position: absolute;
            top: 50%;
            right: 25px;
            transform: translateY(-50%);
            transition: transform .5s;
          }
        }

        &.open {
          > .menu__link {
            &::after {
              transform: rotate(90deg) translateX(-50%);
            }
          }
        }
      }
    }
    .menu__item--2 {
      > .menu__link {
        padding-left: 35px;
      }
    }
    .menu__item--3 {
      > .menu__link {
        padding-left: 45px;
      }
    }

    ul.menu-level--2,
    ul.menu-level--3 {
      display: none;
    }
  }
}

