.vh-variant9 {
  background-color: $white;
  padding-bottom: 0 !important;
  padding-top: 20px;

  &__branding {
    h1 {
      line-height: 0;
    }
    .navbar-brand {
      padding: 0;
      margin: 0;
    }
    img {
      height: 52px;
    }
  }
  @include media-breakpoint-up(md) {
    .menu-level--1 {
      .menu__item--1 {
        flex: 1;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .vh-variant9 {
    &>div {
      display: flex;
      align-items: center;
      height: 100%;
    }
    &.vh-sticky {
      height: 85px;
    }

    &.menu-mobile-open {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
    }

    &__hamburger {
      flex-shrink: 0;
      flex-grow: 0;
    }

    &__branding {
      margin-right: auto;
      margin-left: auto;
      img {
        height: 40px;
      }
    }
  }
}

