

<h3>Lorem Ipsum Dolor Samit</h3>

<div class="stcky-bloc-wrapper">
  <div class="sticky-bloc">
    <div class="js-img-video">
      <a href="https://www.youtube.com/watch?v=xcJtL7QggTI" class="play-video">
        <img src="https://dummyimage.com/840x360/fff/aaa"  class="img-fluid">
      </a>
    </div>
  </div>
</div>

<div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci blanditiis nisi esse commodi autem impedit ullam? Impedit ab alias, aut dicta eius, ipsum iste molestiae et temporibus eaque quos?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatem vero deleniti eos maiores ducimus fuga officiis commodi corrupti unde dignissimos minus praesentium nesciunt perferendis nostrum, dolore animi esse iure!</p>
  <p>Quam, ipsum aliquam a, quibusdam iste eligendi ipsa iure enim aliquid repellat error explicabo sit autem? Voluptatem, eaque dicta porro voluptate beatae id odit eligendi modi vel. Accusamus, distinctio cupiditate!</p>
  <p>Unde similique laudantium, enim, aperiam voluptas dignissimos cupiditate et soluta impedit suscipit non numquam praesentium magni dicta dolorum officia quibusdam temporibus ex. Dignissimos magni quis impedit, quisquam autem quibusdam qui?</p>
</div>
