<div class="vc-toolbox">
  <a class="vc-toolbox__item" href="#"><i class="icon icon-linkedin"></i><span>linkedin</span></a>
  <a class="vc-toolbox__item" href="#"><i class="icon icon-youtube"></i><span>youtube</span></a>
  <a class="vc-toolbox__item" href="#"><i class="icon icon-twitter"></i><span>twitter</span></a>
  <a class="vc-toolbox__item mobile-sticky" href="#"><i class="icon icon-messages"></i><span>messages</span></a>
</div>
