{% if content.0.views.nodes is not empty %}
  {% for node in content.0.views.nodes %}
    <div style="margin: 20px">
      {% if node.title is not empty %}
        <div>{{node.title}}</div>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
