@charset "UTF-8";
.block-location .location-search:after, .block-location .location-search:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vactory' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 640px;
  height: 40rem;
  width: 100%;
  position: relative;
}

.container_map.background_image {
  background-size: cover;
  background-repeat: no-repeat;
}

.container_map .map-overlay {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container_map .btn.btn-secondary.js-loadmap {
  z-index: 3;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.container_map .btn.btn-secondary.js-loadmap:hover, .container_map .btn.btn-secondary.js-loadmap:focus, .container_map .btn.btn-secondary.js-loadmap:active, .container_map .btn.btn-secondary.js-loadmap:active:focus {
  background: #60686f;
  border-color: #60686f;
}

.location-map-wrapper {
  position: relative;
  display: none;
}

.block-location {
  max-width: 100%;
  position: relative;
  display: none;
}

.block-location .block-location-wrapper {
  margin-top: 19px;
  margin-top: 1.1875rem;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.block-location .location-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #fff;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  padding: 14px 0px 13px 11px;
  padding: 0.875rem 0 0.8125rem 0.6875rem;
  position: relative;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.3);
}

html[dir=rtl] .block-location .location-search {
  padding: 14px 11px 13px 0px;
  padding: 0.875rem 0.6875rem 0.8125rem 0;
  padding: 0.875rem 0.6875rem 0.8125rem 0px;
}

.block-location .location-search:after, .block-location .location-search:before {
  position: absolute;
  z-index: 1;
  color: #000;
  cursor: pointer;
}

.block-location .location-search:after {
  content: "";
  font-size: 16px;
  font-size: 1rem;
  top: 26px;
  top: 1.625rem;
  left: 22px;
  left: 1.375rem;
}

html[dir=rtl] .block-location .location-search:after {
  right: 16px;
  right: 1rem;
  left: auto;
}

.block-location .location-search:before {
  content: "";
  font-size: 22px;
  font-size: 1.375rem;
  padding: 10px;
  padding: 0.625rem;
  top: 10px;
  top: 0.625rem;
  right: 10px;
  right: 0.625rem;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border-radius: 0.125rem;
}

html[dir=rtl] .block-location .location-search:before {
  left: 10px;
  left: 0.625rem;
  right: auto;
}

.block-location .location-search label {
  display: none;
}

.block-location .btn-search,
.block-location .btn-gps {
  background: transparent;
  border: none;
  font-size: 0;
  position: absolute;
  padding: 18px;
  padding: 1.125rem;
  top: 10px;
  top: 0.625rem;
  cursor: pointer;
  z-index: 1;
}

.block-location .input-search {
  margin-right: 55px;
  margin-right: 3.4375rem;
  padding-left: 40px;
  padding-left: 2.5rem;
  color: #000;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

html[dir=rtl] .block-location .input-search {
  margin-left: 55px;
  margin-left: 3.4375rem;
  padding-right: 40px;
  padding-right: 2.5rem;
  margin-right: 0px;
  margin-right: 0;
  padding-left: 10px;
  padding-left: 0.625rem;
}

.block-location .btn-gps {
  right: 10px;
  right: 0.625rem;
}

html[dir=rtl] .block-location .btn-gps {
  right: auto;
  left: 10px;
  left: 0.625rem;
}

.block-location .location-list {
  background: #fff;
  width: 100%;
  display: none;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.3);
}

.block-location .location-list .list-group-item {
  padding: 5px;
  padding: 0.3125rem;
  border: none;
  border-bottom: 1px solid #f8f9fa;
  border-bottom: 0.0625rem solid #f8f9fa;
  margin-bottom: 0;
  cursor: pointer;
}

.block-location .location-list .list-group-item:last-child {
  border-bottom: none;
}

.block-location .location-list .agences-box {
  max-height: 287px;
  max-height: 17.9375rem;
  border-radius: 8px;
  border-radius: 0.5rem;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.block-location .location-list .agences-box::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
  border-radius: 0.5rem;
}

.block-location .location-list .agences-box::-webkit-scrollbar {
  width: 8px;
  width: 0.5rem;
  background-color: #fff;
  border-radius: 8px;
  border-radius: 0.5rem;
}

.block-location .location-list .agences-box::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border-radius: 0.5rem;
  height: 100px;
  height: 6.25rem;
  background-color: #007bff;
}

.block-location .form-control::-webkit-input-placeholder {
  color: #000;
}

.block-location .form-control::-moz-placeholder {
  color: #000;
}

.block-location .form-control:-ms-input-placeholder {
  color: #000;
}

.block-location .form-control::-ms-input-placeholder {
  color: #000;
}

.block-location .form-control::placeholder {
  color: #000;
}

.block-location .nav-address {
  width: 100%;
  background-color: #fff;
  padding: 0 23px;
  padding: 0 1.4375rem;
  border-top: 2px solid #efefef;
  border-top: 0.125rem solid #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 49px;
  height: 3.0625rem;
  border-radius: 0px 0px 8px 8px;
  border-radius: 0 0 0.5rem 0.5rem;
  border-radius: 0px 0px 0.5rem 0.5rem;
}

.block-location .nav-address .counting-result {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #9f9f9f;
}

.block-location .nav-address .navigation {
  margin-right: auto;
}

html[dir=rtl] .block-location .nav-address .navigation {
  margin-right: 0;
  margin-left: auto;
}

.block-location .nav-address .navigation a {
  cursor: pointer;
  margin-right: 8px;
  margin-right: 0.5rem;
}

.block-location .nav-address .navigation i {
  font-size: 23px;
  font-size: 1.4375rem;
  color: #9f9f9f;
}

.location-list-element {
  cursor: pointer;
}

.location-list-element h3 {
  color: #000;
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}

.location-list-element p {
  color: #000;
  margin-bottom: 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 19px;
  line-height: 1.1875rem;
}

.location-list-element p a {
  font-weight: 500;
}

.location-map {
  width: 100%;
  height: 640px;
  height: 40rem;
  padding-bottom: 120px;
  padding-bottom: 7.5rem;
}

html[dir=rtl] .location-map button[aria-label="Close"] {
  left: auto !important;
  right: 0px !important;
  right: 0 !important;
}

.listeempty {
  padding: 17px;
  padding: 1.0625rem;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 27px;
  top: 1.6875rem;
  left: 32px;
  left: 2rem;
  font-size: 10px;
  font-size: 0.625rem;
  cursor: pointer;
}

html[dir=rtl] .close-button {
  left: auto;
  right: 32px;
  right: 2rem;
}

.close-button a {
  padding: 7px;
  padding: 0.4375rem;
  display: none;
}

@media (min-width: 992px) {
  .block-location .location-search {
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.3);
    padding: 31px 14px 13px 14px;
    padding: 1.9375rem 0.875rem 0.8125rem 0.875rem;
  }
  .block-location .location-search:before,
  .block-location .location-search .input-search {
    color: #adb5bd;
  }
  .block-location .location-search:after {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .block-location .location-search:before {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid;
    border: 0.0625rem solid;
    right: 13px;
    right: 0.8125rem;
    top: 23px;
    top: 1.4375rem;
  }
  .block-location .location-search label {
    display: block;
    position: absolute;
    top: 5px;
    top: 0.3125rem;
    right: 85px;
    right: 5.3125rem;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
  }
  html[dir=rtl] .block-location .location-search {
    padding: 31px 11px 13px 20px;
    padding: 1.9375rem 0.6875rem 0.8125rem 1.25rem;
  }
  html[dir=rtl] .block-location .location-search:before {
    left: 21px;
    left: 1.3125rem;
    right: auto;
  }
  html[dir=rtl] .block-location .location-search label {
    left: 90px;
    left: 5.625rem;
    right: auto;
  }
  .block-location .input-search {
    padding-left: 33px;
    padding-left: 2.0625rem;
  }
  html[dir=rtl] .block-location .input-search {
    padding-right: 33px;
    padding-right: 2.0625rem;
    padding-left: 33px;
    padding-left: 2.0625rem;
  }
  .block-location .btn-gps {
    right: 23px;
    right: 1.4375rem;
    top: 27px;
    top: 1.6875rem;
  }
  html[dir=rtl] .block-location .btn-gps {
    left: 23px;
    left: 1.4375rem;
    right: auto;
  }
  .block-location .btn-search {
    left: 18px;
    left: 1.125rem;
    top: 16px;
    top: 1rem;
  }
  html[dir=rtl] .block-location .btn-search {
    right: 18px;
    right: 1.125rem;
    left: auto;
  }
  .block-location .location-search,
  .block-location .location-list {
    border-radius: 8px;
    border-radius: 0.5rem;
  }
  .block-location .location-search:after {
    top: 40px;
    top: 2.5rem;
  }
  .block-location .location-list .list-group-item {
    padding: 5px 11px;
    padding: 0.3125rem 0.6875rem;
  }
  .block-location .location-list {
    max-height: 337px;
    max-height: 21.0625rem;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.3);
  }
  .block-location .location-list::-webkit-scrollbar-track {
    border-radius: 8px;
    border-radius: 0.5rem;
  }
  .block-location .location-list::-webkit-scrollbar {
    border-radius: 8px;
    border-radius: 0.5rem;
  }
  .block-location .block-location-wrapper {
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-right: 30px;
    margin-right: 1.875rem;
    min-width: 445px;
    min-width: 27.8125rem;
    max-width: 445px;
    max-width: 27.8125rem;
  }
  html[dir=rtl] .block-location .block-location-wrapper {
    margin-left: 30px;
    margin-left: 1.875rem;
    margin-right: 0px;
    margin-right: 0;
  }
  .block-location .form-control::-webkit-input-placeholder {
    color: #adb5bd;
  }
  .block-location .form-control::-moz-placeholder {
    color: #adb5bd;
  }
  .block-location .form-control:-ms-input-placeholder {
    color: #adb5bd;
  }
  .block-location .form-control::-ms-input-placeholder {
    color: #adb5bd;
  }
  .block-location .form-control::placeholder {
    color: #adb5bd;
  }
  .block-location .close-button {
    left: 46px;
    left: 2.875rem;
    top: 40px;
    top: 2.5rem;
    font-size: 16px;
    font-size: 1rem;
  }
  html[dir=rtl] .block-location .close-button {
    left: auto;
    right: 46px;
    right: 2.875rem;
  }
  .block-location .nav-address .navigation i {
    font-size: 26px;
    font-size: 1.625rem;
  }
  .block-location .nav-address .counting-result {
    font-size: 13px;
    font-size: 0.8125rem;
  }
  .block--vactorylocatorblock .location-map {
    padding-bottom: 120px;
    padding-bottom: 7.5rem;
    height: 500px;
    height: 31.25rem;
  }
}

/*# sourceMappingURL=vactory_locator-rtl.css.map */
