<div>
    <ul class="academy-user-menu d-flex academy-user-menu">
        <li>
            <a href="{{ path('user.logout') }}" class="prefix-icon-user">{{ 'Déconnexion'|t }}</a>
        </li>
        <li>
            <a href="{{ url('view.vactory_academy.listing_favorite_cours') }}" class="prefix-icon-heart">{{ 'Mes cours favoris'|t }}</a>
        </li>
    </ul>
</div>
