

<tr>
  <td>
    <table role="presentation" bgcolor="#F9B900" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="padding: 4px 20px">
          <h2 style="text-align: center; color: #312D39; text-transform: uppercase; font-size: 18px; font-weight: 700; line-height: 30px; margin: 0;">{{ content.0.title }}</h2>
        </td>
      </tr>
    </table>
  </td>
</tr>
