<div class="fdb-block">
    <div class="row justify-content-end">
        <div class="col col-sm-10 col-md-8 text-left">
            <div class="text-h3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s
            </div>
        </div>
    </div>
</div>
