{#
/**
 * @file
 * Article Component.
 * themes/interface/src/scss/stylesheets/components/article/_article.scss
 */
#}
{% if classes is not defined %}
  {% set classes = [] %}
{% endif %}
{% set classes = classes|merge(['card']) %}
<article {{ attributes.addClass(classes) }}>
  <div class="card-body">
    <h4 class="card-title">
        <span class="link font-semibold text-uppercase font-20">{{ label }}</span>
    </h4>
    <div class="card-text">
      <h6 class="card-subtitle">
        <span class="badge badge-primary">{{ content.field_faq_prive_thematique }}</span>
      </h6>
      {{ content.body }}
    </div>
  </div>
</article>
