{#
/**
 * @file
 * Article Component.
 * themes/interface/src/scss/stylesheets/components/article/_article.scss
 */
#}
{% if classes is not defined %}
  {% set classes = [] %}
{% endif %}

{% set classes = classes|merge(['card', 'card--faq', 'card--faq-prive']) %}

<article {{ attributes.addClass(classes) }}>
  <div class="card__body">
    <h3 class="card__title"><span>{{ label }}</span></h3>
    <div class="card__meta">
      <span class="vard_tags badge badge-primary">{{ content.field_faq_prive_thematique }}</span>
    </div>
    <div class="card__description">
      {{ content.body }}
    </div>
  </div>
</article>
