name: 'List'
multiple: FALSE
category: 'FAQ'
enabled: TRUE
fields:
  collection:
    type: json_api_collection
    label: 'JSON:API'
    options:
      '#required': TRUE
      '#default_value':
        id: "vactory_faq_list"
        resource: node--vactory_faq
        filters:
          - fields[node--vactory_faq]=drupal_internal__nid,path,title,body,field_faq,field_vactory_taxonomy_1
          - fields[taxonomy_term--faq_section]=tid,name
          - include=field_vactory_taxonomy_1
          - page[offset]=0
          - page[limit]=9
          - sort=-created
          - filter[status][value]=1
        vocabularies:
          faq_section: faq_section