.testimonial-card {
  .card {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 120px;
      background: #2196f3;
      right: 0;
      z-index: 0;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }

    &.flex-column-reverse {
      &::after {
        top: inherit;
        bottom: 0;
        border-radius: 0;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }
  }

  .card-image {
    z-index: 1;
    border: 6px solid $white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}
