{% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/460/224.jpg" %}

<div class="t-thight-image-text">
  <div class="row">
    <div class="col-md-6">
      <div class="t-thight-image-text-image block-with-bg">
        <div class="t-thight-image-text-image-container lazy-wrapper">
          <img class="lazyload"
               src="{{ content.image_placeholder }}"
               data-src="{{ placehold }}"
               alt="Image Alt">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="t-description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.It is a long established fact that a
        reader
        will be distracted by the readable content of a page when looking at its layout. like Aldus PageMaker
        including versions of Lorem Ipsum.It is a long established fact that a reader
        will be distracted by the readable content of a page when looking at its layout.
      </div>
    </div>

  </div>
</div>
